{% extends 'base.html' %}
{% load static %}
{% block content %}

  <br>
  <h1> Каталог </h1>

  <div class="category-container">
    {% for category in categories %}
      <a href="{% url 'product_list' category_id=category.id %}" class="category-item-link">
        <div class="category-item">
          <div class="category-image">
            {% if category.image_url %}
              <img src="{{ category.image_url }}" alt="{{ category.name }}">
            {% else %}
              <p>Изображение отсутствует</p>
            {% endif %}
          </div>
          <div class="category-name">
            {{ category.name }}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="mail">
    <div class="mail-left">
      <img src="{% static 'home_page/img/gmail.png' %}" alt="Подпишитесь на рассылку">
    </div>

    <div class="mail-center">
      <div class="mail-text">
        ПОДПИШИТЕСЬ НА РАССЫЛКУ НОВОСТЕЙ И СКИДОК
      </div>
    </div>

    <div class="mail-right">
      <form method="post" class="mail-form">
        <input type="email" placeholder="Ваш E-mail" class="mail-input">
        <button type="submit" class="mail-button">Подписаться</button>
      </form>
    </div>
  </div>

  <br>
  <h1>Наши контакты</h1>
  <br>
  <br>
  <div class="catalog-container">
    <div class="phones-block">
      <div class="phone-item">
        <img src="{% static 'home_page/img/phone.png' %}" alt="Phone Icon">
        <span>+380 97 654 3210</span>
      </div>
      <div class="phone-item">
        <img src="{% static 'home_page/img/phone.png' %}" alt="Phone Icon">
        <span>+380 63 987 6543</span>
      </div>
      <div class="phone-item">
        <img src="{% static 'home_page/img/phone.png' %}" alt="Phone Icon">
        <span>+380 50 123 4567</span>
      </div>
    </div>

    <div class="socials-block">
      <div class="social-item">
        <a href="" target="_blank">
          <img src="{% static 'home_page/img/instagram.png' %}" alt="Instagram Icon">
          <span>Instagram</span>
        </a>
      </div>
      <div class="social-item">
        <a href="" target="_blank">
          <img src="{% static 'home_page/img/Telegram.png' %}" alt="Telegram Icon">
          <span>Telegram</span>
        </a>
      </div>
      <div class="social-item">
        <a href="" target="_blank">
          <img src="{% static 'home_page/img/tiktok.png' %}" alt="TikTok Icon">
          <span>TikTok</span>
        </a>
      </div>
    </div>
  </div>

{% endblock %}