{% extends 'base.html' %}
{% load static %}
  {% block style %}
    <link rel="stylesheet" href="{% static "core/css/home.css" %}">
  {% endblock %}
{% block content %}

  <h1> Каталог </h1>

  <div class="products">
    {% for category in categories %}
      <a href="{% url 'product_list' category_id=category.id %}">
        <div class="product-item">
          <div class="product-image">
            {% if category.image %}
              <img src="{{ category.image.url }}" alt="{{ category.name }}">
            {% else %}
              <p>Изображение отсутствует</p>
            {% endif %}
          </div>
          <div class="product-info">
            <div class="product-name">{{ category.name }}</div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="mail">
    <div class="mail-left">
      <img src="{% static 'core/img/home_img/gmail.png' %}" alt="Подпишитесь на рассылку">
    </div>

    <div class="mail-center">
      <div class="mail-text">
        ПОДПИШИТЕСЬ НА РАССЫЛКУ НОВОСТЕЙ И СКИДОК
      </div>
    </div>

    <div class="mail-right">
      <form method="post" class="mail-form" onsubmit="event.preventDefault();">
        <input type="email" placeholder="Ваш E-mail" class="mail-input">
        <button type="submit" class="mail-button">Подписаться</button>
      </form>
    </div>
  </div>

  <br>
  <h1>Наши контакты</h1>
  <br>
  <br>
  <div class="catalog-container">
    <div class="phones-block">
      <div class="phone-item">
        <img src="{% static 'core/img/home_img/phone.png' %}" alt="Phone Icon">
        <a href="tel:+380976543210">+380 97 654 3210</a>
      </div>
      <div class="phone-item">
        <img src="{% static 'core/img/home_img/phone.png' %}" alt="Phone Icon">
        <a href="tel:+380639876543">+380 63 987 6543</a>
      </div>
      <div class="phone-item">
        <img src="{% static 'core/img/home_img/phone.png' %}" alt="Phone Icon">
        <a href="tel:+380501234567">+380 50 123 4567</a>
      </div>
    </div>

    <div class="socials-block">
      <div class="social-item">
        <a href="https://www.instagram.com/" target="_blank">
          <img src="{% static 'core/img/home_img/instagram.png' %}" alt="Instagram Icon">
          <span>Instagram</span>
        </a>
      </div>
      <div class="social-item">
        <a href="https://web.telegram.org/" target="_blank">
          <img src="{% static 'core/img/home_img/Telegram.png' %}" alt="Telegram Icon">
          <span>Telegram</span>
        </a>
      </div>
      <div class="social-item">
        <a href="https://www.tiktok.com" target="_blank">
          <img src="{% static 'core/img/home_img/tiktok.png' %}" alt="TikTok Icon">
          <span>TikTok</span>
        </a>
      </div>
    </div>
  </div>

{% endblock %}