{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!--Need fix them don't work with different registers-->
  <div class="search-form-container">
    <form method="get" action="{% url 'product_list' category_id=category.id %}">
      <input type="text" name="search" placeholder="Поиск по названию товара" value="{{ search_query }}">
      <button type="submit">Поиск</button>
    </form>
  </div>

  <div class="products">
    <br>
    <br>
    {% for product in products %}
      <a href="{% url 'product_detail' product.pk %}">
        <div class="product-item">
          <div class="product-image">
            <!-- Need to update -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
          </div>
          <div class="product-info">
              <div class="product-name">{{ product.name }}</div>
              <div class="product-price">{{ product.price }}₴</div>
          </div>
        </div>
      </a>
    {% empty %}
      <p>Товаров нет</p>
    {% endfor %}
  </div>

{% endblock %}