{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="product-container">
  <h1 class="product-title">{{ products_detail.name }}</h1>
  <div class="product-image">
    <img src="{{ products_detail.image.url }}" alt="{{ products_detail.name }}">
  </div>
  <p class="product-price">Цена: {{ products_detail.price }}₴</p>
  <p class="product-description">Описание: {{ products_detail.description }}</p>

  <div class="buttons">
    <form action="{% url 'add_to_cart' product_id=products_detail.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-buy">Купить</button>
    </form>

    {% if products_detail in request.user.favorite_products.all %}
      <form action="{% url 'remove_from_favorites' product_id=products_detail.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-fav">Удалить из избранного</button>
      </form>
    {% else %}
      <form action="{% url 'add_to_favorites' product_id=products_detail.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-fav">Добавить в избранное</button>
      </form>
    {% endif %}
  </div>

  <a href="{% url 'product_list' products_detail.category.id %}" class="back-link">← Назад к категории</a>
</div>

{% endblock %}